<div class="flex-container">
  <mat-card class="flex-container" style="margin-top: 2rem;">
    <div>
      <h1>
        Upload your image
      </h1>
    </div>
    <div>
      <i class="fas fa-upload center image" style="font-size:48px;color:#3F51B5;width:48px;" *ngIf="!imageUrl"></i>
      <img [src]="imageUrl" style="width:35rem;" *ngIf="imageUrl">
    </div>
    <div style="margin-top:1rem;">
      <span style="color:red;" *ngIf="message">{{message}}</span>
      <input #file type="file" accept='image/*' (change)="preview(file)" />
      <button mat-raised-button color="primary" (click)="upload()" style="margin-left:1rem;">Upload</button>
    </div>
    <mat-form-field>
      <mat-label>Your language</mat-label>
      <mat-select [(value)]="selectedLang">
        <mat-option *ngFor="let lang of languages" [value]="lang.value">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div style="margin-top:1rem;">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <section *ngIf="result">
        <h3 class="center" style="color:#3F51B5;">{{result.description}}</h3>
        <strong>Address:</strong> {{result.formatted_address}}<br>
        <strong>Telephone:</strong> {{result.formatted_phone_number}}<br>
        <strong>International Telephone:</strong> {{result.international_phone_number}}<br>
        <strong>Types:</strong> <span *ngFor="let type of result.types">{{type}} </span><br>
        <strong>Website:</strong> {{result.website}}<br>
        <strong>Description:</strong> {{result.wikipedia_extract}}<br>
        <iframe width="560" height="500" frameborder="0" style="border:0" [src]="map | safe" allowfullscreen>
        </iframe>
      </section>
      <mat-spinner *ngIf="loadingAudio"></mat-spinner>
      <button *ngIf="audioFile != undefined" mat-raised-button color="primary" (click)="playAudio()"
        class="center">Play<i class="fas fa-play" style="margin-left: 1rem;"></i>
      </button>
    </div>
  </mat-card>
</div>