<nav>
    <mat-card class="navbar">
        <div class="flex-container">
            <button mat-button>
                <a routerLink="/upload" routerLinkActive="active" class="text">
                    Upload
                </a>
            </button>
            <button mat-button>
                <a routerLink="/history" routerLinkActive="active" class="text">
                    History
                </a>
            </button>
        </div>
    </mat-card>
</nav>
<router-outlet></router-outlet>

